:root{
    --height-content: 80px;
    --padding-nav: 40px;
    --color-gris:#F2F2F2;
    --color-bleu:#0065FC;
    --color-blue-clair: #DEEBFF;
}

body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif, serif;
}

#container{
    width: 100%;
    max-width: 1200px;
    /* border: 1px solid black; */
    
}

header{
    display: flex;
    justify-content: space-between;
}

#h-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-content);
}


#h-nav a{
    text-decoration: none;  
    height: var(--height-content); 
    line-height: var(--height-content);
    display: inline-block;
}


#h-nav nav ul li a{
    color: black;
    text-align: center;
}

#h-nav .nav-insp a{
    color: var(--color-bleu);
    font-weight: 700;
}



#h-nav ul li a {
    
    padding-left: var(--padding-nav);
    padding-right: var(--padding-nav);
}


#h-nav .nav-li{
    height: var(--height-content);
    line-height: var(--height-content);
}


#h-nav nav ul li{
    list-style: none;
}

#h-nav nav ul{
    display: flex;
    justify-content: space-between;
}

#h-nav nav ul a:hover{
    color: var(--color-bleu);
    border-top: var(--color-bleu) solid 2px;
    text-decoration: none;
}

#txt-rech{
    display: flex;
}

#txt-localise{
    height: 40px;
    line-height: 40px;
    width: 40px;
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

#txt-rech .txt-imput-text{
    border-radius: 0;
    border:0.5px solid var(--color-gris);
}

#txt-rech .btn-imput{
    border: none;
    background-color: var(--color-bleu);
    color: #FFF;
    border-radius: 0 10px 10px 0;
}
#grp-filter-all{
    display: flex;

    height: 35px;
    line-height: 35px;
}

#grp-filter-all .grp-filter{
    display: flex;
    align-items: center;
}

#grp-filter-all .grp-filter-icon{
    height: 35px;
    line-height: 35px;
    width: 40px;
    background-color: var(--color-blue-clair);
    text-align: center;
    color: var(--color-blue);
    border-radius: 10px 10px 10px 10px;
}



#grp-filter-all .grp-filter-btn{
    padding: 0 20px;
    border: 2px solid #F2F2F2;
    border-radius: 0 10px 10px 0;
    height: 35px;
    line-height: 35px;
}